name: Rust

on:
  push:
    branches: [master]
    tags:
      - v[0-9]*
  pull_request:
    branches: [master]

jobs:
  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5

      - name: Install stable toolchain
        id: toolchain
        uses: dtolnay/rust-toolchain@stable

      - run: rustup override set ${{steps.toolchain.outputs.name}}
      - run: rustup component add rustfmt

      - name: Run cargo fmt
        run: cargo fmt --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5

      - name: Update apt
        run: sudo apt update

      - name: Install stable toolchain
        id: toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Install Zig
        uses: mlugg/setup-zig@v2

      - run: rustup override set ${{steps.toolchain.outputs.name}}
      - run: rustup component add clippy

      - uses: clechasseur/rs-clippy-check@v5
        with:
          args: --all-features -- --deny warnings

  build:
    strategy:
      fail-fast: false
      matrix:
        job:
          # use ubuntu 22.04 to keep older glibc version dependency
          - {target: x86_64-unknown-linux-gnu, os: ubuntu-22.04}
    name: ${{ matrix.job.target }} (${{ matrix.job.os }})
    runs-on: ${{ matrix.job.os }}
    steps:
      - uses: actions/checkout@v5

      - uses: Swatinem/rust-cache@v2

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.job.target }}
          override: true

      - name: Install Zig
        uses: mlugg/setup-zig@v2

      - name: Build
        shell: bash
        run: cargo build --verbose

      - name: Run tests
        shell: bash
        run: cargo test --verbose

      - name: Extract crate information
        shell: bash
        run: |
          echo "PROJECT_NAME=timer" >> $GITHUB_ENV
          echo "PROJECT_VERSION=$(sed -n 's/^version = "\(.*\)"/\1/p' ./Cargo.toml | head -n1)" >> $GITHUB_ENV

      - name: Publish crates
        if: startsWith(github.ref, 'refs/tags/') && matrix.job.target == 'x86_64-unknown-linux-gnu'
        env:
          CRATES_IO_TOKEN: ${{ secrets.CRATES_IO_TOKEN }}
        shell: bash
        run: |
          echo "${CRATES_IO_TOKEN}" | cargo login
          make publish

      - name: Get Changelog Entry
        if: startsWith(github.ref, 'refs/tags/')
        id: changelog_reader
        uses: mindsers/changelog-reader-action@v2.2.3
        with:
          version: v${{ env.PROJECT_VERSION }}
          path: ./CHANGELOG.md

      - name: Publish
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          body: ${{ steps.changelog_reader.outputs.changes }}
          prerelease: ${{ steps.changelog_reader.outputs.status == 'prereleased' }}
          draft: ${{ steps.changelog_reader.outputs.status == 'unreleased' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
